In [147]:
import pandas as pd
import os
import re
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import numpy as np

In [148]:
df=pd.read_json(r'C:\Python_project\Doctor-Fee-Prediction1\Notebook\data\docter_practo_data.json',lines=True)

In [149]:
df.head()

,Name,Degree,DP Score,NPV Value,Location,City,Consult Fee,Years of Experience,Speciality
0,Dr. Rathish Bilimale,Doctor of Dental Surgery (DDS),None,None,Madikeri College,Madikeri,₹150,23,Dentist
1,Dr. Srikanth HJ,"MBBS, MS - ENT",None,None,Madikeri Fort,Madikeri,₹250,13,ENT/ Otorhinolaryngologist
2,Dr. K Ravi Appaji,"MBBS, MS - Orthopaedics",None,None,Madikeri College,Madikeri,₹500,39,"Orthopedic surgeon, Joint Replacement Surgeon,..."
3,Dr. Sukumar,"MBBS, MD - Respiratory Medicine",None,None,Madikeri College,Madikeri,₹400,t8,Pulmonologist
4,Dr. Shyam Prasad P S,BAMS,99%,(137 patients),Kushalnagar,Madikeri,₹250,16,AYUSHAyurveda

In [150]:
df.tail()

,Name,Degree,DP Score,NPV Value,Location,City,Consult Fee,Years of Experience,Speciality
15137,Dr. Chaitanya S. H,"MDS - Oral & Maxillofacial Surgery, BDS",98%,(127 patients),Jeevanbhimanagar,Bangalore,₹500,21,Oral And MaxilloFacial Surgeon
15138,Dr. T. V. Jayanthi Sastry,"MBBS, Diploma in Otorhinolaryngology (DLO), DN...",83%,(24 patients),Malleswaram,Bangalore,₹700,27,ENT/ Otorhinolaryngologist
15139,Dr. Farooq Ahmed,BDS,100%,(167 patients),Frazer Town,Bangalore,₹300,25,"Dental Surgeon, Implantologist"
15140,Dr. Venugopal N,"MBBS, MS - Orthopaedics",91%,(11 patients),Millers Road,Bangalore,₹1000,23,Orthopedic surgeon
15141,Dr. Satish Kalanje,"MBBS, Fellowship in Rheumatology",94%,(34 patients),Millers Road,Bangalore,₹1000,31,Rheumatologist

In [151]:
df.sample(5)

,Name,Degree,DP Score,NPV Value,Location,City,Consult Fee,Years of Experience,Speciality
3154,Dr. Meghnathi Bhowmik,"MBBS, MD - General Medicine",None,None,Sola,Ahmedabad,₹2000,15,"Internal Medicine, General Physician"
3382,Dr. Ronak Dineshkumar Joshi,"MDS - Orthodontics, BDS",100%,(27 patients),Memnagar,Ahmedabad,₹400,13,"Orthodontist, Dentist, Cosmetic/Aesthetic Dent..."
2703,Dr. Zeepee Godha,"MBBS, MS - Obstetrics & Gynaecology",None,None,Jawahar Nagar,Jaipur,None,16,"Gynecologist, Obstetrician, Infertility Specia..."
7762,Dr. Aishwary P Supekar,"BAMS, MD - Ayurveda Medicine, Fellowship in Ne...",100%,(138 patients),Paud Road,Pune,₹300,12,AYUSHAyurveda
672,Dr. Sakshi Agarwal (Physiotherapist),BPTh/BPT,None,None,Bahadrabad,Haridwar,₹250,t7,TherapistPhysiotherapist

In [152]:
df.shape

(15142, 9)

In [153]:
round((df.isnull().sum()/df.shape[0]),2)*100

Name                    0.0
Degree                  0.0
DP Score               46.0
NPV Value              46.0
Location                0.0
City                    0.0
Consult Fee             1.0
Years of Experience     0.0
Speciality              0.0
dtype: float64

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15142 entries, 0 to 15141
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 15142 non-null  object
 1   Degree               15140 non-null  object
 2   DP Score             8169 non-null   object
 3   NPV Value            8169 non-null   object
 4   Location             15142 non-null  object
 5   City                 15142 non-null  object
 6   Consult Fee          15035 non-null  object
 7   Years of Experience  15142 non-null  object
 8   Speciality           15142 non-null  object
dtypes: object(9)
memory usage: 1.0+ MB

In [155]:
df.describe()

,Name,Degree,DP Score,NPV Value,Location,City,Consult Fee,Years of Experience,Speciality
count,15142,15140,8169,8169,15142,15142,15035,15142,15142
unique,13944,2111,62,995,1831,56,116,126,1844
top,Dr. Sunil Kumar S,BDS,100%,(11 patients),Jubilee Hills,Chennai,₹500,13,General Physician
freq,12,1427,2171,207,225,1600,2782,882,934

In [156]:
for i in df.columns:
    print(i,'==>',df[i].unique(),"Nunique ==>",df[i].nunique())

Name ==> ['Dr. Rathish Bilimale' 'Dr. Srikanth HJ' 'Dr. K Ravi Appaji' ...
 'Dr. Farooq Ahmed' 'Dr. Venugopal N' 'Dr. Satish Kalanje'] Nunique ==> 13944
Degree ==> ['Doctor of Dental Surgery (DDS)' 'MBBS, MS - ENT'
 'MBBS, MS - Orthopaedics' ...
 'MBBS, Diploma in Orthopaedics, MRCS (UK), M.Ch - Orthopaedics'
 'MSc - Psychological Counselling, B.Ac'
 'MBBS, Fellowship in Rheumatology'] Nunique ==> 2111
DP Score ==> [None '99%' '97%' '100%' '82%' '96%' '87%' '91%' '90%' '98%' '80%' '94%'
 '95%' '84%' '61%' '77%' '92%' '93%' '83%' '89%' '75%' '81%' '85%' '55%'
 '67%' '86%' '88%' '78%' '71%' '59%' '72%' '46%' '73%' '74%' '69%' '56%'
 '76%' '33%' '79%' '64%' '66%' '60%' '58%' '62%' '36%' '35%' '65%' '63%'
 '70%' '47%' '57%' '50%' '68%' '54%' '19%' '44%' '53%' '45%' '43%' '52%'
 '23%' '49%' '27%'] Nunique ==> 62
NPV Value ==> [None '(137 patients)' '(142 patients)' '(56 patients)' '(14 patients)'
 '(159 patients)' '(13 patients)' '(149 patients)' '(25 patients)'
 '(23 patients)' '(110 patients)' '(190 patients)' '(17 patients)'
 '(288 patients)' '(192 patients)' '(955 patients)' '(47 patients)'
 '(40 patients)' '(24 patients)' '(90 patients)' '(71 patients)'
 '(11 patients)' '(116 patients)' '(21 patients)' '(15 patients)'
 '(140 patients)' '(18 patients)' '(67 patients)' '(22 patients)'
 '(34 patients)' '(77 patients)' '(55 patients)' '(50 patients)'
 '(189 patients)' '(696 patients)' '(16 patients)' '(156 patients)'
 '(146 patients)' '(36 patients)' '(108 patients)' '(35 patients)'
 '(82 patients)' '(46 patients)' '(26 patients)' '(28 patients)'
 '(537 patients)' '(367 patients)' '(44 patients)' '(63 patients)'
 '(235 patients)' '(33 patients)' '(127 patients)' '(186 patients)'
 '(12 patients)' '(31 patients)' '(49 patients)' '(51 patients)'
 '(54 patients)' '(333 patients)' '(143 patients)' '(224 patients)'
 '(841 patients)' '(389 patients)' '(198 patients)' '(20 patients)'
 '(19 patients)' '(941 patients)' '(91 patients)' '(59 patients)'
 '(153 patients)' '(117 patients)' '(124 patients)' '(232 patients)'
 '(270 patients)' '(85 patients)' '(554 patients)' '(73 patients)'
 '(48 patients)' '(182 patients)' '(95 patients)' '(78 patients)'
 '(193 patients)' '(74 patients)' '(422 patients)' '(45 patients)'
 '(214 patients)' '(238 patients)' '(1413 patients)' '(128 patients)'
 '(277 patients)' '(319 patients)' '(177 patients)' '(161 patients)'
 '(468 patients)' '(96 patients)' '(88 patients)' '(41 patients)'
 '(488 patients)' '(32 patients)' '(209 patients)' '(175 patients)'
 '(160 patients)' '(466 patients)' '(98 patients)' '(83 patients)'
 '(458 patients)' '(100 patients)' '(138 patients)' '(243 patients)'
 '(178 patients)' '(322 patients)' '(176 patients)' '(180 patients)'
 '(107 patients)' '(89 patients)' '(1065 patients)' '(260 patients)'
 '(139 patients)' '(39 patients)' '(1440 patients)' '(121 patients)'
 '(30 patients)' '(70 patients)' '(975 patients)' '(60 patients)'
 '(29 patients)' '(79 patients)' '(233 patients)' '(210 patients)'
 '(353 patients)' '(179 patients)' '(211 patients)' '(363 patients)'
 '(206 patients)' '(250 patients)' '(164 patients)' '(114 patients)'
 '(135 patients)' '(525 patients)' '(43 patients)' '(72 patients)'
 '(388 patients)' '(596 patients)' '(836 patients)' '(263 patients)'
 '(102 patients)' '(163 patients)' '(119 patients)' '(92 patients)'
 '(187 patients)' '(27 patients)' '(366 patients)' '(421 patients)'
 '(122 patients)' '(296 patients)' '(216 patients)' '(2619 patients)'
 '(1121 patients)' '(87 patients)' '(69 patients)' '(678 patients)'
 '(318 patients)' '(829 patients)' '(390 patients)' '(225 patients)'
 '(1066 patients)' '(188 patients)' '(42 patients)' '(97 patients)'
 '(106 patients)' '(427 patients)' '(57 patients)' '(52 patients)'
 '(564 patients)' '(876 patients)' '(109 patients)' '(1022 patients)'
 '(381 patients)' '(66 patients)' '(223 patients)' '(151 patients)'
 '(201 patients)' '(81 patients)' '(112 patients)' '(315 patients)'
 '(152 patients)' '(515 patients)' '(76 patients)' '(236 patients)'
 '(157 patients)' '(93 patients)' '(418 patients)' '(37 patients)'
 '(221 patients)' '(125 patients)' '(244 patients)' '(131 patients)'
 '(709 patients)' '(374 patients)' '(196 patients)' '(150 patients)'
 '(130 patients)' '(185 patients)' '(267 patients)' '(184 patients)'
 '(132 patients)' '(234 patients)' '(848 patients)' '(814 patients)'
 '(371 patients)' '(431 patients)' '(1000 patients)' '(519 patients)'
 '(1175 patients)' '(428 patients)' '(3543 patients)' '(2245 patients)'
 '(129 patients)' '(870 patients)' '(334 patients)' '(200 patients)'
 '(440 patients)' '(103 patients)' '(65 patients)' '(68 patients)'
 '(575 patients)' '(339 patients)' '(58 patients)' '(426 patients)'
 '(545 patients)' '(511 patients)' '(405 patients)' '(174 patients)'
 '(113 patients)' '(331 patients)' '(306 patients)' '(94 patients)'
 '(832 patients)' '(38 patients)' '(372 patients)' '(111 patients)'
 '(218 patients)' '(300 patients)' '(844 patients)' '(99 patients)'
 '(228 patients)' '(284 patients)' '(350 patients)' '(472 patients)'
 '(643 patients)' '(624 patients)' '(540 patients)' '(549 patients)'
 '(328 patients)' '(336 patients)' '(222 patients)' '(433 patients)'
 '(953 patients)' '(1862 patients)' '(80 patients)' '(283 patients)'
 '(212 patients)' '(397 patients)' '(202 patients)' '(61 patients)'
 '(167 patients)' '(134 patients)' '(101 patients)' '(1680 patients)'
 '(86 patients)' '(118 patients)' '(671 patients)' '(226 patients)'
 '(133 patients)' '(251 patients)' '(1074 patients)' '(485 patients)'
 '(147 patients)' '(64 patients)' '(323 patients)' '(136 patients)'
 '(312 patients)' '(544 patients)' '(3025 patients)' '(217 patients)'
 '(460 patients)' '(248 patients)' '(268 patients)' '(291 patients)'
 '(568 patients)' '(168 patients)' '(266 patients)' '(445 patients)'
 '(524 patients)' '(587 patients)' '(115 patients)' '(727 patients)'
 '(1091 patients)' '(393 patients)' '(126 patients)' '(401 patients)'
 '(282 patients)' '(628 patients)' '(75 patients)' '(896 patients)'
 '(448 patients)' '(246 patients)' '(120 patients)' '(361 patients)'
 '(659 patients)' '(329 patients)' '(165 patients)' '(148 patients)'
 '(616 patients)' '(348 patients)' '(181 patients)' '(340 patients)'
 '(325 patients)' '(569 patients)' '(740 patients)' '(847 patients)'
 '(868 patients)' '(359 patients)' '(183 patients)' '(304 patients)'
 '(292 patients)' '(527 patients)' '(546 patients)' '(1710 patients)'
 '(264 patients)' '(278 patients)' '(375 patients)' '(53 patients)'
 '(879 patients)' '(461 patients)' '(1072 patients)' '(1048 patients)'
 '(337 patients)' '(144 patients)' '(314 patients)' '(290 patients)'
 '(207 patients)' '(62 patients)' '(1172 patients)' '(294 patients)'
 '(491 patients)' '(382 patients)' '(343 patients)' '(645 patients)'
 '(321 patients)' '(338 patients)' '(2816 patients)' '(789 patients)'
 '(2525 patients)' '(738 patients)' '(293 patients)' '(2058 patients)'
 '(249 patients)' '(245 patients)' '(974 patients)' '(1461 patients)'
 '(298 patients)' '(924 patients)' '(3368 patients)' '(286 patients)'
 '(965 patients)' '(679 patients)' '(316 patients)' '(170 patients)'
 '(1519 patients)' '(311 patients)' '(242 patients)' '(578 patients)'
 '(475 patients)' '(2388 patients)' '(653 patients)' '(240 patients)'
 '(2952 patients)' '(227 patients)' '(219 patients)' '(582 patients)'
 '(1086 patients)' '(1532 patients)' '(799 patients)' '(204 patients)'
 '(84 patients)' '(104 patients)' '(162 patients)' '(213 patients)'
 '(3030 patients)' '(916 patients)' '(197 patients)' '(513 patients)'
 '(680 patients)' '(580 patients)' '(308 patients)' '(259 patients)'
 '(563 patients)' '(265 patients)' '(424 patients)' '(457 patients)'
 '(1239 patients)' '(449 patients)' '(239 patients)' '(500 patients)'
 '(324 patients)' '(842 patients)' '(1141 patients)' '(626 patients)'
 '(760 patients)' '(208 patients)' '(1019 patients)' '(145 patients)'
 '(332 patients)' '(154 patients)' '(493 patients)' '(399 patients)'
 '(1433 patients)' '(247 patients)' '(173 patients)' '(1778 patients)'
 '(935 patients)' '(807 patients)' '(646 patients)' '(698 patients)'
 '(588 patients)' '(199 patients)' '(874 patients)' '(2402 patients)'
 '(1439 patients)' '(368 patients)' '(376 patients)' '(237 patients)'
 '(910 patients)' '(272 patients)' '(229 patients)' '(552 patients)'
 '(194 patients)' '(257 patients)' '(482 patients)' '(1428 patients)'
 '(276 patients)' '(464 patients)' '(903 patients)' '(384 patients)'
 '(614 patients)' '(509 patients)' '(413 patients)' '(720 patients)'
 '(683 patients)' '(105 patients)' '(489 patients)' '(203 patients)'
 '(215 patients)' '(528 patients)' '(281 patients)' '(253 patients)'
 '(365 patients)' '(1586 patients)' '(241 patients)' '(724 patients)'
 '(787 patients)' '(3040 patients)' '(258 patients)' '(516 patients)'
 '(2505 patients)' '(309 patients)' '(123 patients)' '(764 patients)'
 '(776 patients)' '(637 patients)' '(1543 patients)' '(392 patients)'
 '(548 patients)' '(1399 patients)' '(577 patients)' '(1075 patients)'
 '(631 patients)' '(297 patients)' '(1480 patients)' '(262 patients)'
 '(429 patients)' '(510 patients)' '(531 patients)' '(403 patients)'
 '(442 patients)' '(335 patients)' '(364 patients)' '(469 patients)'
 '(171 patients)' '(927 patients)' '(662 patients)' '(358 patients)'
 '(254 patients)' '(330 patients)' '(378 patients)' '(155 patients)'
 '(501 patients)' '(169 patients)' '(141 patients)' '(416 patients)'
 '(166 patients)' '(252 patients)' '(295 patients)' '(877 patients)'
 '(402 patients)' '(570 patients)' '(1194 patients)' '(813 patients)'
 '(542 patients)' '(231 patients)' '(220 patients)' '(604 patients)'
 '(2374 patients)' '(685 patients)' '(349 patients)' '(317 patients)'
 '(1622 patients)' '(205 patients)' '(1130 patients)' '(711 patients)'
 '(2026 patients)' '(667 patients)' '(398 patients)' '(4483 patients)'
 '(302 patients)' '(301 patients)' '(299 patients)' '(379 patients)'
 '(1109 patients)' '(1338 patients)' '(1391 patients)' '(451 patients)'
 '(1035 patients)' '(828 patients)' '(1343 patients)' '(430 patients)'
 '(1078 patients)' '(567 patients)' '(450 patients)' '(1359 patients)'
 '(639 patients)' '(650 patients)' '(579 patients)' '(803 patients)'
 '(1278 patients)' '(586 patients)' '(1008 patients)' '(305 patients)'
 '(734 patients)' '(1189 patients)' '(1550 patients)' '(1755 patients)'
 '(560 patients)' '(280 patients)' '(1328 patients)' '(661 patients)'
 '(794 patients)' '(255 patients)' '(370 patients)' '(1102 patients)'
 '(463 patients)' '(611 patients)' '(866 patients)' '(498 patients)'
 '(745 patients)' '(1429 patients)' '(3029 patients)' '(675 patients)'
 '(1126 patients)' '(980 patients)' '(768 patients)' '(969 patients)'
 '(479 patients)' '(341 patients)' '(1915 patients)' '(2521 patients)'
 '(706 patients)' '(1191 patients)' '(752 patients)' '(872 patients)'
 '(477 patients)' '(7180 patients)' '(4996 patients)' '(750 patients)'
 '(420 patients)' '(499 patients)' '(1233 patients)' '(1015 patients)'
 '(396 patients)' '(326 patients)' '(632 patients)' '(1733 patients)'
 '(805 patients)' '(845 patients)' '(414 patients)' '(1298 patients)'
 '(681 patients)' '(4995 patients)' '(592 patients)' '(362 patients)'
 '(404 patients)' '(289 patients)' '(602 patients)' '(769 patients)'
 '(710 patients)' '(521 patients)' '(1912 patients)' '(3643 patients)'
 '(641 patients)' '(747 patients)' '(462 patients)' '(303 patients)'
 '(352 patients)' '(423 patients)' '(1674 patients)' '(1181 patients)'
 '(736 patients)' '(504 patients)' '(327 patients)' '(1435 patients)'
 '(852 patients)' '(1247 patients)' '(576 patients)' '(821 patients)'
 '(435 patients)' '(672 patients)' '(1705 patients)' '(307 patients)'
 '(1387 patients)' '(770 patients)' '(932 patients)' '(607 patients)'
 '(881 patients)' '(665 patients)' '(1190 patients)' '(377 patients)'
 '(503 patients)' '(490 patients)' '(551 patients)' '(1097 patients)'
 '(1345 patients)' '(2182 patients)' '(939 patients)' '(443 patients)'
 '(1300 patients)' '(395 patients)' '(853 patients)' '(2479 patients)'
 '(1431 patients)' '(1071 patients)' '(1356 patients)' '(651 patients)'
 '(2185 patients)' '(1406 patients)' '(313 patients)' '(411 patients)'
 '(261 patients)' '(1500 patients)' '(550 patients)' '(729 patients)'
 '(496 patients)' '(899 patients)' '(1113 patients)' '(562 patients)'
 '(1471 patients)' '(571 patients)' '(351 patients)' '(1582 patients)'
 '(755 patients)' '(668 patients)' '(1685 patients)' '(938 patients)'
 '(1315 patients)' '(541 patients)' '(689 patients)' '(559 patients)'
 '(610 patients)' '(1436 patients)' '(387 patients)' '(1053 patients)'
 '(347 patients)' '(394 patients)' '(269 patients)' '(287 patients)'
 '(1179 patients)' '(543 patients)' '(344 patients)' '(285 patients)'
 '(585 patients)' '(949 patients)' '(478 patients)' '(406 patients)'
 '(1291 patients)' '(345 patients)' '(1105 patients)' '(1344 patients)'
 '(412 patients)' '(456 patients)' '(383 patients)' '(369 patients)'
 '(391 patients)' '(3068 patients)' '(694 patients)' '(410 patients)'
 '(757 patients)' '(1230 patients)' '(360 patients)' '(763 patients)'
 '(158 patients)' '(968 patients)' '(699 patients)' '(978 patients)'
 '(594 patients)' '(385 patients)' '(432 patients)' '(1235 patients)'
 '(590 patients)' '(2153 patients)' '(897 patients)' '(716 patients)'
 '(172 patients)' '(1553 patients)' '(2642 patients)' '(635 patients)'
 '(1302 patients)' '(408 patients)' '(195 patients)' '(982 patients)'
 '(620 patients)' '(539 patients)' '(775 patients)' '(722 patients)'
 '(688 patients)' '(555 patients)' '(2284 patients)' '(437 patients)'
 '(1384 patients)' '(820 patients)' '(484 patients)' '(608 patients)'
 '(1636 patients)' '(356 patients)' '(275 patients)' '(617 patients)'
 '(483 patients)' '(566 patients)' '(1451 patients)' '(273 patients)'
 '(561 patients)' '(600 patients)' '(191 patients)' '(476 patients)'
 '(1938 patients)' '(507 patients)' '(1205 patients)' '(1463 patients)'
 '(1704 patients)' '(434 patients)' '(898 patients)' '(533 patients)'
 '(444 patients)' '(2156 patients)' '(837 patients)' '(1006 patients)'
 '(355 patients)' '(3620 patients)' '(618 patients)' '(1361 patients)'
 '(629 patients)' '(4321 patients)' '(993 patients)' '(1212 patients)'
 '(1417 patients)' '(1541 patients)' '(274 patients)' '(959 patients)'
 '(812 patients)' '(589 patients)' '(1089 patients)' '(447 patients)'
 '(1470 patients)' '(625 patients)' '(1964 patients)' '(977 patients)'
 '(459 patients)' '(517 patients)' '(1129 patients)' '(495 patients)'
 '(931 patients)' '(320 patients)' '(613 patients)' '(1613 patients)'
 '(1103 patients)' '(1780 patients)' '(1160 patients)' '(1369 patients)'
 '(1684 patients)' '(1211 patients)' '(948 patients)' '(838 patients)'
 '(627 patients)' '(409 patients)' '(446 patients)' '(796 patients)'
 '(473 patients)' '(619 patients)' '(901 patients)' '(380 patients)'
 '(505 patients)' '(865 patients)' '(407 patients)' '(572 patients)'
 '(973 patients)' '(944 patients)' '(256 patients)' '(642 patients)'
 '(1527 patients)' '(373 patients)' '(506 patients)' '(1012 patients)'
 '(386 patients)' '(597 patients)' '(857 patients)' '(534 patients)'
 '(508 patients)' '(746 patients)' '(415 patients)' '(1031 patients)'
 '(2299 patients)' '(565 patients)' '(1386 patients)' '(869 patients)'
 '(697 patients)' '(958 patients)' '(481 patients)' '(907 patients)'
 '(823 patients)' '(357 patients)' '(1044 patients)' '(723 patients)'
 '(470 patients)' '(591 patients)' '(342 patients)' '(1319 patients)'
 '(279 patients)' '(1605 patients)' '(400 patients)' '(1472 patients)'
 '(3412 patients)' '(1976 patients)' '(1830 patients)' '(1201 patients)'
 '(2416 patients)' '(1082 patients)' '(2049 patients)' '(818 patients)'
 '(1412 patients)' '(436 patients)' '(1662 patients)' '(2253 patients)'
 '(1289 patients)' '(987 patients)' '(1617 patients)' '(1694 patients)'
 '(917 patients)' '(2532 patients)' '(1655 patients)' '(2100 patients)'
 '(890 patients)' '(230 patients)' '(1868 patients)' '(2779 patients)'
 '(535 patients)' '(2992 patients)' '(523 patients)' '(666 patients)'
 '(497 patients)' '(2073 patients)' '(735 patients)' '(915 patients)'
 '(271 patients)' '(1041 patients)' '(1254 patients)' '(1010 patients)'
 '(1087 patients)' '(1893 patients)' '(2132 patients)' '(441 patients)'
 '(793 patients)' '(1430 patients)' '(1258 patients)' '(1529 patients)'
 '(1080 patients)' '(598 patients)' '(1287 patients)' '(1380 patients)'
 '(2640 patients)' '(417 patients)' '(1348 patients)' '(1197 patients)'
 '(1115 patients)' '(792 patients)' '(615 patients)' '(622 patients)'
 '(957 patients)' '(824 patients)' '(474 patients)' '(1240 patients)'
 '(2323 patients)' '(599 patients)' '(1085 patients)' '(695 patients)'
 '(1092 patients)' '(1295 patients)' '(991 patients)' '(1465 patients)'
 '(2360 patients)' '(909 patients)' '(636 patients)' '(878 patients)'
 '(633 patients)' '(2435 patients)' '(657 patients)' '(1024 patients)'
 '(2130 patients)' '(1512 patients)' '(707 patients)' '(2963 patients)'
 '(1045 patients)' '(840 patients)' '(1323 patients)' '(655 patients)'
 '(705 patients)' '(748 patients)' '(817 patients)' '(858 patients)'
 '(4295 patients)' '(970 patients)' '(1411 patients)' '(3819 patients)'
 '(728 patients)' '(1534 patients)' '(647 patients)' '(4364 patients)'
 '(926 patients)' '(2150 patients)' '(843 patients)' '(886 patients)'
 '(721 patients)' '(2175 patients)' '(963 patients)' '(2516 patients)'
 '(4898 patients)' '(997 patients)' '(3309 patients)' '(8297 patients)'
 '(3938 patients)' '(988 patients)' '(2028 patients)' '(520 patients)'
 '(669 patients)' '(1354 patients)' '(731 patients)' '(3365 patients)'
 '(310 patients)' '(1011 patients)' '(2729 patients)' '(1283 patients)'
 '(759 patients)' '(885 patients)' '(4165 patients)' '(1989 patients)'
 '(1746 patients)' '(1642 patients)' '(819 patients)' '(936 patients)'
 '(522 patients)' '(2760 patients)' '(777 patients)' '(743 patients)'
 '(961 patients)' '(2739 patients)' '(884 patients)' '(2208 patients)'
 '(2703 patients)' '(1609 patients)' '(894 patients)' '(467 patients)'
 '(553 patients)' '(1372 patients)' '(1827 patients)' '(827 patients)'
 '(609 patients)' '(1330 patients)' '(1385 patients)'] Nunique ==> 995
Location ==> ['Madikeri College' 'Madikeri Fort' 'Kushalnagar' ... 'Thanisandra'
 'Yelenahalli' 'Bommasandra'] Nunique ==> 1831
City ==> ['Madikeri' 'Ranchi' 'JPSC' 'Kozhikode' 'Agra' 'Allahabad' 'Alwar'
 'Aurangabad' 'Varanasi' 'Thiruvananthapuram' 'Meerut' 'Rajkot' 'Ajmer'
 'Navsari' 'Bilaspur' 'Ludhiana' 'Amritsar' 'Panchkula' 'Raipur' 'Nashik'
 'Vadodara' 'Haridwar' 'Bhopal' 'Surat' 'Aligarh' 'Kurnool' 'Kanpur'
 'Mysore' 'Coimbatore' 'Mohali' 'Vijayawada' 'Patna' 'Faridabad'
 'Chandigarh' 'Indore' 'Greater Noida' 'Nagpur' 'Ernakulam'
 'Visakhapatnam' 'Puducherry' 'Jaipur' 'Lucknow' 'Jodhpur' 'Ahmedabad'
 'Thane' 'Ghaziabad' 'Noida' 'Navi Mumbai' 'Kolkata' 'Gurgaon' 'Pune'
 'Chennai' 'Mumbai' 'Hyderabad' 'Delhi' 'Bangalore'] Nunique ==> 56
Consult Fee ==> ['₹150' '₹250' '₹500' '₹400' '₹600' None '₹450' '₹700' '₹300' '₹299'
 '₹100' '₹1000' '₹200' '₹800' '₹350' '₹750' '₹1500' '₹80' '₹1100' '₹1400'
 '₹199' '₹50' '₹2000' '₹49' '₹550' '₹850' '₹605' '₹530' '₹420' '₹805'
 '₹1005' '₹1200' '₹449' '₹600.3' '₹1180' '₹999' '₹900' '₹1' '₹120' '₹1800'
 '₹499' '₹650' '₹280' '₹1300' '₹349' '₹1150' '₹99' '₹589' '₹1600' '₹699'
 '₹1700' '₹75' '₹70' '₹123' '₹60' '₹20' '₹399' '₹1250' '₹610' '₹580'
 '₹125' '₹30' '₹2500' '₹2360' '₹3000' '₹10000' '₹799' '₹1650' '₹5000'
 '₹2200' '₹2100' '₹1350' '₹1290' '₹3100' '₹950' '₹2600' '₹1110' '₹4100'
 '₹899' '₹1190' '₹777' '₹1900' '₹2400' '₹825' '₹375' '₹1320' '₹770'
 '₹6500' '₹270' '₹1850' '₹1750' '₹3600' '₹4000' '₹3500' '₹3300' '₹2850'
 '₹1050' '₹3850' '₹2350' '₹1950' '₹2700' '₹2420' '₹51' '₹680' '₹630'
 '₹330' '₹669' '₹2300' '₹740' '₹320' '₹480' '₹1090' '₹980' '₹1120' '₹599'
 '₹1450' '₹1550'] Nunique ==> 116
Years of Experience ==> ['23' '13' '39' 't8' '16' 'h2' '26' '17' '19' 'h5' '11' 'n5' 'n9' '30'
 '25' '40' '29' '14' 'h9' '10' '37' '20' 't5' 'r3' '15' '45' 'h8' '12'

In [157]:
df.replace({'%':'','₹':'','patients':'',None:np.nan},regex=True,inplace=True)

In [158]:
df.Degree.replace({'PhD':'PHD','(USA)':'','(UK)':'','M.D.':'MD','D.M.S':'DMS',
                   'B.Sc.':'BSC','M.S.':'MS','M.S.':'MS','M.Phil':'MPHIL',
                   'G.A.M.S':'GAMS','(D.H.B)':'DHB','(D.Ac)':'PHD'},regex=True,inplace=True)

In [159]:
df['NPV Value']=df['NPV Value'].str.replace('(','')
df['NPV Value']=df['NPV Value'].str.replace(')','')

In [160]:
df['Years of Experience'].unique()

array(['23', '13', '39', 't8', '16', 'h2', '26', '17', '19', 'h5', '11',
       'n5', 'n9', '30', '25', '40', '29', '14', 'h9', '10', '37', '20',
       't5', 'r3', '15', '45', 'h8', '12', 't4', '36', 'a9', '33', '21',
       '27', '28', 'n8', '18', '48', '22', 'a5', 'n4', 't6', '24', 'n7',
       '35', '42', '31', 't7', '32', '34', '47', 'y4', 't9', '41', 'a3',
       'n2', '46', '61', '44', ')8', '38', 'n6', 'r4', 'n1', 'e8', 'h6',
       'on', 'r8', 'a4', 'a8', 't2', 'a6', 'h4', 'st', 'n3', ')7', 'r6',
       '54', 'h7', 't3', 'e6', '60', 'y6', '51', '43', '53', 'y9', 'a7',
       'r5', 'r7', 'y7', '52', '49', 'e4', '63', ')4', 'y8', '50', 't1',
       'h3', '57', '58', '62', 'i5', 'e5', 'y5', 'e7', 'y3', ')9', '5',
       'r2', '56', 'e9', '55', '64', 'y1', 'y2', 'a1', '70', 'r9', '59',
       'd6', ')6', '68', '67', 'i6'], dtype=object)

In [161]:
df['Years of Experience']=df['Years of Experience'].apply(lambda x: re.sub('[^0-9]', '', str(x)))

In [162]:
df.dtypes

Name                   object
Degree                 object
DP Score               object
NPV Value              object
Location               object
City                   object
Consult Fee            object
Years of Experience    object
Speciality             object
dtype: object

In [163]:
df['Consult Fee']=df['Consult Fee'].astype(float)

In [164]:
df['No. Degree']=df.Degree.str.split(',').str.len()

In [165]:
df['Degree_1']=df.Degree

In [166]:
# Define a function to extract degree short names
def extract_degree_short_names(degree_str):
    pattern = r'([A-Z]+(?:\s*-\s*[A-Z]+)*)'
    matches = re.findall(pattern, degree_str)
    return ','.join(matches)

In [167]:
df['Degree'] = df['Degree'].astype(str)  # Convert all values in the 'Degree' column to strings
df['Degree']=df['Degree'].apply(lambda degree_str: ','.join(re.findall(r'([A-Z]+(?:\s*-\s*[A-Z]+)*)', degree_str)))

In [168]:
df['Degree']=df['Degree'].str.split(',').apply(lambda x: [i for i in x if len(i)>1])

In [169]:
def remove_dash_and_text(specializations):
    modified_specializations = []
    for specialization in specializations:
        modified_specialization = re.sub(r'\s*-\s*.+', '', specialization)
        modified_specializations.append(modified_specialization.strip())
    return modified_specializations

# Apply the function to the 'Specialization' column using lambda and apply
df['Degree']=df['Degree'].apply(lambda x: remove_dash_and_text(x))

In [170]:
df.Degree.explode().unique().shape

(139,)

In [171]:
df.Degree.explode().value_counts()[:50]

Degree
MBBS      9729
MS        4757
MD        3769
BDS       3252
DNB       2314
BPT        858
DM         812
MC         717
DGO        537
BHMS       515
BAMS       431
MPT        360
DCH        269
MA         108
DDVL       102
DLO         97
DVD         86
FRCS        84
FCPS        84
MRCS        79
MRCP        77
PHD         75
DPM         73
MRCOG       72
MNAMS       69
DO          55
DOMS        54
MPHIL       53
MRCPCH      53
FNB         52
DTCD        51
BS          43
PG          35
BA          32
FAM         30
MDS         30
BSC         29
CCT         28
PGDCC       27
FRCP        25
FICOI       19
BASLP       18
VD          18
DHMS        18
BOT         17
BUMS        17
FICOG       15
FMC         14
FRCOG       14
MSP         13
Name: count, dtype: int64

In [172]:
df['DP Score']=df['DP Score'].astype(float)

In [173]:
df['NPV Value']=df['NPV Value'].astype(float)

In [174]:
df['Years of Experience']=df['Years of Experience'][~(df['Years of Experience']=='')]

In [175]:
df.dtypes

Name                    object
Degree                  object
DP Score               float64
NPV Value              float64
Location                object
City                    object
Consult Fee            float64
Years of Experience     object
Speciality              object
No. Degree             float64
Degree_1                object
dtype: object

In [176]:
df[['DP Score','Years of Experience','NPV Value','No. Degree','Consult Fee']].corr()

,DP Score,Years of Experience,NPV Value,No. Degree,Consult Fee
DP Score,1.000000,-0.322633,0.093764,-0.150715,-0.179863
Years of Experience,-0.322633,1.000000,0.084117,0.177374,0.261478
NPV Value,0.093764,0.084117,1.000000,0.022490,0.021112
No. Degree,-0.150715,0.177374,0.022490,1.000000,0.323027
Consult Fee,-0.179863,0.261478,0.021112,0.323027,1.000000

In [177]:
df[['Degree_1','Speciality']]

,Degree_1,Speciality
0,Doctor of Dental Surgery (DDS),Dentist
1,"MBBS, MS - ENT",ENT/ Otorhinolaryngologist
2,"MBBS, MS - Orthopaedics","Orthopedic surgeon, Joint Replacement Surgeon,..."
3,"MBBS, MD - Respiratory Medicine",Pulmonologist
4,BAMS,AYUSHAyurveda
...,...,...
15137,"MS- Oral & Maxillofacial Surgery, BDS",Oral And MaxilloFacial Surgeon
15138,"MBBS, Diploma in Otorhinolaryngology (DLO), DN...",ENT/ Otorhinolaryngologist
15139,BDS,"Dental Surgeon, Implantologist"
15140,"MBBS, MS - Orthopaedics",Orthopedic surgeon
15141,"MBBS, Fellowship in Rheumatology",Rheumatologist

In [178]:
# List of unique degrees in descending order of hierarchy
unique_degrees = ['PHD','MD', 'MS', 'MC', 'MDS', 'DNB', 'DDS', 'DLO', 'DCH','MPHIL',
                  'MBBS','BSMS','BASLP', 'BDS','FCPS','DGO', 'BUMS','GAMS','BSC', 'BNYS','MOT','BOT', 'MPT','MA','PGD',
                  'BA','BPT', 'BAMS', 'BHMS', 'BVS', 'AH','DHMS']

def extract_highest_degree(degrees):
    for degree in unique_degrees:
        if len(degrees)==1:
            return degrees[0]
        if any(d in degree for d in degrees):
            return degree
    return np.nan

# Apply the function to the DataFrame
df['Highest_Degree'] = df['Degree'].apply(extract_highest_degree)

In [179]:
df.shape

(15142, 12)

In [180]:
df.isnull().sum()

Name                      0
Degree                    0
DP Score               6973
NPV Value              6973
Location                  0
City                      0
Consult Fee             107
Years of Experience       5
Speciality                0
No. Degree                2
Degree_1                  2
Highest_Degree           56
dtype: int64

In [181]:
df.dropna(subset=['Consult Fee','Years of Experience','No. Degree','Degree_1','Highest_Degree'],inplace=True)

In [182]:
df.dropna()

,Name,Degree,DP Score,NPV Value,Location,City,Consult Fee,Years of Experience,Speciality,No. Degree,Degree_1,Highest_Degree
4,Dr. Shyam Prasad P S,[BAMS],99.0,137.0,Kushalnagar,Madikeri,250.0,16,AYUSHAyurveda,1.0,BAMS,BAMS
7,Dr. Kunal Banka,[BDS],97.0,142.0,Sn Ganguly Road,Ranchi,600.0,17,"Cosmetic/Aesthetic Dentist, Implantologist, De...",1.0,BDS,BDS
10,Dr. Shruti Singh,"[MBBS, MS]",100.0,56.0,Bariatu,Ranchi,700.0,11,Infertility Specialist,2.0,"MBBS, MS - Obstetrics & Gynaecology",MS
11,Dr. Virul Shrivastava,"[MBBS, MD]",100.0,14.0,Harmu Housing Colony,Ranchi,300.0,5,"Infertility Specialist, Gynecologist, Obstetri...",2.0,"MBBS, MD - Obstetrics & Gynaecology",MD
13,Dr. Lalit Kongari,"[MBBS, MS]",82.0,159.0,Baragain,Ranchi,700.0,30,"ENT/ Otorhinolaryngologist, Head and Neck Surgeon",2.0,"MBBS, MS - ENT",MS
...,...,...,...,...,...,...,...,...,...,...,...,...
15137,Dr. Chaitanya S. H,"[MS, BDS]",98.0,127.0,Jeevanbhimanagar,Bangalore,500.0,21,Oral And MaxilloFacial Surgeon,2.0,"MS- Oral & Maxillofacial Surgery, BDS",MS
15138,Dr. T. V. Jayanthi Sastry,"[MBBS, DLO, DNB]",83.0,24.0,Malleswaram,Bangalore,700.0,27,ENT/ Otorhinolaryngologist,3.0,"MBBS, Diploma in Otorhinolaryngology (DLO), DN...",DNB
15139,Dr. Farooq Ahmed,[BDS],100.0,167.0,Frazer Town,Bangalore,300.0,25,"Dental Surgeon, Implantologist",1.0,BDS,BDS
15140,Dr. Venugopal N,"[MBBS, MS]",91.0,11.0,Millers Road,Bangalore,1000.0,23,Orthopedic surgeon,2.0,"MBBS, MS - Orthopaedics",MS
15141,Dr. Satish Kalanje,[MBBS],94.0,34.0,Millers Road,Bangalore,1000.0,31,Rheumatologist,2.0,"MBBS, Fellowship in Rheumatology",MBBS

In [183]:
# speciality=[]
# for i in df.Speciality:
#     speciality.append(i)
# print(speciality)

# Dentist = df[df['Speciality'].str.contains('Dentist', case = False)]
# Dentist['Speciality'] = 'Dentist'
# df = df[~(df['Speciality'].str.contains('Dentist', case = False))]

# Gynecologist = df[df['Speciality'].str.contains('Gynecologist', case = False)]
# Gynecologist['Speciality'] = 'Gynecologist'
# df = df[~(df['Speciality'].str.contains('Gynecologist', case = False))]

# Pediatrician = df[df['Speciality'].str.contains('Pediatrician', case = False)]
# Pediatrician['Speciality'] = 'Pediatrician'
# df = df[~(df['Speciality'].str.contains('Pediatrician', case = False))]

# Orthopedist = df[df['Speciality'].str.contains('Ortho', case = False)]
# Orthopedist['Speciality'] = 'Orthopedist'
# df = df[~(df['Speciality'].str.contains('Ortho', case = False))]

# Ophthalmologist = df[df['Speciality'].str.contains('Ophthalmologist', case = False)]
# Ophthalmologist['Speciality'] = 'Ophthalmologist'
# df = df[~(df['Speciality'].str.contains('Ophthalmologist', case = False))]

# Physiotherapist = df[df['Speciality'].str.contains('Physiotherapist', case = False)]
# Physiotherapist['Speciality'] = 'Physiotherapist'
# df = df[~(df['Speciality'].str.contains('Physiotherapist', case = False))]

# Physician = df[df['Speciality'].str.contains('Physician', case = False)]
# Physician['Speciality'] = 'Physiotherapist'
# df = df[~(df['Speciality'].str.contains('Physician', case = False))]

# Physiotherapist = pd.concat([Physician, Physiotherapist])

# Dermatologist = df[df['Speciality'].str.contains('Dermatologist', case = False)]
# Dermatologist['Speciality'] = 'Dermatologist'
# df = df[~(df['Speciality'].str.contains('Dermatologist', case = False))]

# Infertility_Specialist = df[df['Speciality'].str.contains('Infertility Specialist', case = False)]
# Infertility_Specialist['Speciality'] = 'Infertility Specialist'
# df = df[~(df['Speciality'].str.contains('Infertility Specialist', case = False))]

# Cardiologist = df[df['Speciality'].str.contains('Cardiologist', case = False)]
# Cardiologist['Speciality'] = 'Cardiologist'
# df = df[~(df['Speciality'].str.contains('Cardiologist', case = False))]

# Dietitian = df[df['Speciality'].str.contains('Dietitian', case = False)]
# Dietitian['Speciality'] = 'Dietitian'
# df = df[~(df['Speciality'].str.contains('Dietitian', case = False))]

# Psychiatrist = df[df['Speciality'].str.contains('Psych', case = False)]
# Psychiatrist['Speciality'] = 'Psychiatrist'
# df = df[~(df['Speciality'].str.contains('Psych', case = False))]

# Pulmonologist = df[df['Speciality'].str.contains('Pulmonologist', case = False)]
# Pulmonologist['Speciality'] = 'Pulmonologist'
# df = df[~(df['Speciality'].str.contains('Pulmonologist', case = False))]

# Gastroenterologist = df[df['Speciality'].str.contains('Gastroenterologist', case = False)]
# Gastroenterologist['Speciality'] = 'Gastroenterologist'
# df = df[~(df['Speciality'].str.contains('Gastroenterologist', case = False))]

# Urolog = df[df['Speciality'].str.contains('Urologist', case = False)]
# Urolog['Speciality'] = 'Urologist'
# df = df[~(df['Speciality'].str.contains('Urologist', case = False))]

# Nephrologist = df[df['Speciality'].str.contains('Nephrologist', case = False)]
# Nephrologist['Speciality'] = 'Urologist'
# df = df[~(df['Speciality'].str.contains('Nephrologist', case = False))]

# Urologist = pd.concat([Urolog, Nephrologist])

# Neurologist = df[df['Speciality'].str.contains('Neuro', case = False)]
# Neurologist['Speciality'] = 'Neurologist'
# df = df[~(df['Speciality'].str.contains('Neuro', case = False))]

# Bariatric_Surgeon = df[df['Speciality'].str.contains('Bariatric Surgeon', case = False)]
# Bariatric_Surgeon['Speciality'] = 'Bariatric Surgeon'
# df = df[~(df['Speciality'].str.contains('Bariatric Surgeon', case = False))]

# Rheumatologist = df[df['Speciality'].str.contains('Rheumatologist', case = False)]
# Rheumatologist['Speciality'] = 'Rheumatologist'
# df = df[~(df['Speciality'].str.contains('Rheumatologist', case = False))]

# Endodontist = df[df['Speciality'].str.contains('Endo', case = False)]
# Endodontist['Speciality'] = 'Endodontist'
# df = df[~(df['Speciality'].str.contains('Endo', case = False))]

# General_Surgeon = df[df['Speciality'].str.contains('Surgeon', case = False)]
# General_Surgeon['Speciality'] = 'General Surgeon'
# df = df[~(df['Speciality'].str.contains('Surgeon', case = False))]

# Otorhinolaryngologist = df[df['Speciality'].str.contains('Otorhinolaryngologist', case = False)]
# Otorhinolaryngologist['Speciality'] = 'Otorhinolaryngologist'
# df = df[~(df['Speciality'].str.contains('Otorhinolaryngologist', case = False))]

# Ayurveda = df[df['Speciality'].str.contains('Ayurveda', case = False)]
# Ayurveda['Speciality'] = 'Ayurveda'
# df = df[~(df['Speciality'].str.contains('Ayurveda', case = False))]

# Homoeopath = df[df['Speciality'].str.contains('AYUSH', case = False)]
# Homoeopath['Speciality'] = 'Homoeopath'
# df = df[~(df['Speciality'].str.contains('AYUSH', case = False))]

# Oncologist = df[df['Speciality'].str.contains('Oncolo', case = False)]
# Oncologist['Speciality'] = 'Oncologist'
# df = df[~(df['Speciality'].str.contains('Oncolo', case = False))]

# Internal_Medicine = df[df['Speciality'].str.contains('Medicine', case = False)]
# Internal_Medicine['Speciality'] = 'Internal Medicine'
# df = df[~(df['Speciality'].str.contains('Medicine', case = False))]

# Radiologist = df[df['Speciality'].str.contains('Radio', case = False)]
# Radiologist['Speciality'] = 'Radiologist'
# df = df[~(df['Speciality'].str.contains('Radio', case = False))]

# Therapist = df[df['Speciality'].str.contains('Therapist', case = False)]
# Therapist['Speciality'] = 'Therapist'
# df = df[~(df['Speciality'].str.contains('Therapist', case = False))]

# Prosthodontist = df[df['Speciality'].str.contains('Prosthodontist', case = False)]
# Prosthodontist['Speciality'] = 'Prosthodontist'
# df = df[~(df['Speciality'].str.contains('Prosthodontist', case = False))]

# Pain_Specialist = df[df['Speciality'].str.contains('Pain', case = False)]
# Pain_Specialist['Speciality'] = 'Pain Specialist'
# df = df[~(df['Speciality'].str.contains('Pain', case = False))]

# Periodontist = df[df['Speciality'].str.contains('Implantologist', case = False)]
# Periodontist['Speciality'] = 'Periodontist'
# df = df[~(df['Speciality'].str.contains('Implantologist', case = False))]

# Periodontist1 = df[df['Speciality'].str.contains('Periodontist', case = False)]
# Periodontist1['Speciality'] = 'Periodontist'
# df = df[~(df['Speciality'].str.contains('Periodontist', case = False))]

# Periodontist = pd.concat([Periodontist, Periodontist1])

# Obstetrician = df[df['Speciality'].str.contains('Obstetrician', case = False)]
# Obstetrician['Speciality'] = 'Obstetrician'
# df = df[~(df['Speciality'].str.contains('Obstetrician', case = False))]

In [184]:
df1=df.Speciality.value_counts().reset_index()
df1[df1['count']>2].head(50)
df1

                                             Speciality  count
0                                     General Physician    925
1                                          Pediatrician    589
2                                               Dentist    578
3                                       AYUSHHomoeopath    458
4                                    Orthopedic surgeon    404
...                                                 ...    ...
1829   Neurologist, Neurosurgeon, Spine Surgeon (Neuro)      1
1830  TherapistClinical Psychologist, Psychologist, ...      1
1831  Psychiatrist, Sexologist, Geriatric Psychiatri...      1
1832       Sports Medicine Physician, General Physician      1
1833   TherapistCounselling Psychologist, Acupuncturist      1

[1834 rows x 2 columns]

In [185]:
df.loc[df['Speciality'].str.contains('General Physician',case=False), 'Speciality']='General Physician'
df.loc[df['Speciality'].str.contains('Pediatrician',case=False), 'Speciality']='Pediatrician'
df.loc[df['Speciality'].str.contains('Dentist',case=False), 'Speciality']='Dentist'
df.loc[df['Speciality'].str.contains('Homoeopath',case=False), 'Speciality']='Homoeopath'
df.loc[df['Speciality'].str.contains("Ortho", case=False), 'Speciality']='Orthopedic'
df.loc[df['Speciality'].str.contains(r'\bENT\b|Otorhinolaryngologist', case=False), 'Speciality']='ENT'
df.loc[df['Speciality'].str.contains("Gynecologist|Infertility |Laparoscopic| Obstetrician|Reproductive", case=False), 'Speciality']='Gynecologist'
df.loc[df['Speciality'].str.contains("Dermatologist|Trichologist|skin|hair", case=False), 'Speciality']='Dermatologist'
df.loc[df['Speciality'].str.contains('Ayurveda|AYUSHAyurveda',case=False), 'Speciality']='Ayurveda'
df.loc[df['Speciality'].str.contains('Physiotherapist',case=False), 'Speciality']='Physiotherapist'
df.loc[df['Speciality'].str.contains('General Surgeon',case=False), 'Speciality']='General Surgeon'
df.loc[df['Speciality'].str.contains('Cardiologist|Cardiothoracic|Vascular Surgeon',case=False), 'Speciality']='Cardiologist'
df.loc[df['Speciality'].str.contains('Gastroenterologist|GastroIntestinal',case=False), 'Speciality']='Gastroenterologist'
df.loc[df['Speciality'].str.contains('Neurologist',case=False), 'Speciality']='Neurologist'
df.loc[df['Speciality'].str.contains('Nephrologist|Renal Specialist',case=False), 'Speciality']='Nephrologist/Renal Specialist'

In [191]:
df.loc[df['Speciality'].str.contains('Implantologist',case=False), 'Speciality']

35                     Dental Surgeon, Implantologist
50                     Dental Surgeon, Implantologist
126                                    Implantologist
127                                    Implantologist
244                    Dental Surgeon, Implantologist
                             ...
14720                  Dental Surgeon, Implantologist
14860                  Prosthodontist, Implantologist
14970                  Implantologist, Dental Surgeon
15129    Dental Surgeon, Periodontist, Implantologist
15139                  Dental Surgeon, Implantologist
Name: Speciality, Length: 138, dtype: object

In [187]:
df

,Name,Degree,DP Score,NPV Value,Location,City,Consult Fee,Years of Experience,Speciality,No. Degree,Degree_1,Highest_Degree
0,Dr. Rathish Bilimale,[DDS],NaN,NaN,Madikeri College,Madikeri,150.0,23,Dentist,1.0,Doctor of Dental Surgery (DDS),DDS
1,Dr. Srikanth HJ,"[MBBS, MS]",NaN,NaN,Madikeri Fort,Madikeri,250.0,13,ENT,2.0,"MBBS, MS - ENT",MS
2,Dr. K Ravi Appaji,"[MBBS, MS]",NaN,NaN,Madikeri College,Madikeri,500.0,39,Orthopedic,2.0,"MBBS, MS - Orthopaedics",MS
3,Dr. Sukumar,"[MBBS, MD]",NaN,NaN,Madikeri College,Madikeri,400.0,8,Pulmonologist,2.0,"MBBS, MD - Respiratory Medicine",MD
4,Dr. Shyam Prasad P S,[BAMS],99.0,137.0,Kushalnagar,Madikeri,250.0,16,Ayurveda,1.0,BAMS,BAMS
...,...,...,...,...,...,...,...,...,...,...,...,...
15137,Dr. Chaitanya S. H,"[MS, BDS]",98.0,127.0,Jeevanbhimanagar,Bangalore,500.0,21,Oral And MaxilloFacial Surgeon,2.0,"MS- Oral & Maxillofacial Surgery, BDS",MS
15138,Dr. T. V. Jayanthi Sastry,"[MBBS, DLO, DNB]",83.0,24.0,Malleswaram,Bangalore,700.0,27,ENT,3.0,"MBBS, Diploma in Otorhinolaryngology (DLO), DN...",DNB
15139,Dr. Farooq Ahmed,[BDS],100.0,167.0,Frazer Town,Bangalore,300.0,25,"Dental Surgeon, Implantologist",1.0,BDS,BDS
15140,Dr. Venugopal N,"[MBBS, MS]",91.0,11.0,Millers Road,Bangalore,1000.0,23,Orthopedic,2.0,"MBBS, MS - Orthopaedics",MS
15141,Dr. Satish Kalanje,[MBBS],94.0,34.0,Millers Road,Bangalore,1000.0,31,Rheumatologist,2.0,"MBBS, Fellowship in Rheumatology",MBBS

In [188]:
df.dtypes

Name                    object
Degree                  object
DP Score               float64
NPV Value              float64
Location                object
City                    object
Consult Fee            float64
Years of Experience     object
Speciality              object
No. Degree             float64
Degree_1                object
Highest_Degree          object
dtype: object

In [189]:
df.Speciality

0                               Dentist
1                                   ENT
2                            Orthopedic
3                         Pulmonologist
4                              Ayurveda
                      ...
15137    Oral And MaxilloFacial Surgeon
15138                               ENT
15139    Dental Surgeon, Implantologist
15140                        Orthopedic
15141                    Rheumatologist
Name: Speciality, Length: 14975, dtype: object